@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form asp-page-handler="Result" method="post">

    <div class="row">
        <div class="col-sm-3">
            <textarea rows="15" class="col-sm" asp-for="Input"></textarea>
        </div>
        <div class="col-sm-4">
            <textarea rows="15" class="col-sm">@Model.Result </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <button class="btn btn-sm btn-primary btn-block">Check</button>
        </div>
    </div>

</form>



<form asp-page-handler="Delete" method="post">
    <div class="row">
        <div class="col-sm-1">
            <button class="btn btn-sm btn-danger btn-block">Delete</button>
        </div>
    </div>
</form>

<form asp-page-handler="Download" method="get">
    <div class="row">
        <div class="col-sm-1">
            <a class="btn btn-sm btn-dark btn-block" href="/download?name=test.xls" target="_blank">Download</a>
        </div>
    </div>
</form>
