@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";

}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<form asp-page-handler="Sum" method="post">
    <input asp-for="ID" />
    <input asp-for="ID2" />
    <textarea rows="4" cols="50">@Model.Ats </textarea>

    <button class="btn btn-default">Click nx</button>


</form>
  
