@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";

}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<form asp-page-handler="Result" method="post">
    <textarea rows="4" cols="50" asp-for="Input"></textarea>
    <textarea rows="4" cols="50">@Model.Result </textarea>

    <button class="btn btn-default">Click</button>

</form>
  
